.hero {
    width: 100%;
    height: calc(100vh - 110px);
    border-radius: 3px;
    overflow: hidden;
    padding-top: 75px; 
    padding-left: 0px;
    position: relative;
    margin-left: auto;
}
  
.message-background {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: rgb(213, 100, 55);
    padding: 40px;
}

/* Inner container for text */
.placeholder-content {
    max-width: 1000px;
    text-align: left;
}

/* Explanation text */
.placeholder-message {
    font-weight: 700 !important;
    font-size: 50px !important;
    margin-bottom: 30px !important;
    color: white !important;
    line-height: 1.5 !important;
}

/* Explanation text */
.placeholder-explanation {
    font-family: 'Satoshi', sans-serif !important;
    font-weight: 400 !important;
    font-size: 24px !important;
    margin-bottom: 30px !important;
    color: white !important;
    line-height: 1.2 !important;
}

/* Links */
.placeholder-links {
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

.placeholder-links a {
    text-decoration: none;
    color: white;
    transition: color 0.2s;
}

.placeholder-links a:hover {
    color: white;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .placeholder-explanation {
        font-size: 1rem;
        line-height: 1.4;
    }
    .placeholder-links {
        font-size: 1rem;
    }
}

.placeholder-links a {
    color: white;
    text-decoration: none;
    position: relative;
}

.placeholder-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: white;
}

.placeholder-links a:hover::after {
    width: 100%;
}

.placeholder-links a:active {
    opacity: 0.6;
}