@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono[wght].woff2') format('truetype');
  font-weight: 100 800;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Italic[wght].woff2') format('truetype');
  font-weight: 100 800;
  font-style: italic;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-VariableFont_opsz,wght.woff2") format("woff2");
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DMSans-Italic-VariableFont_opsz,wght.woff2") format("woff2");
  font-weight: 100 1000;
  font-style: italic;
}