/* ABOUT SECTION CSS */

.about-section {
  padding-top: 90px;
}

.container {
  margin: 0px 10%;
  align-items: start;
  transition: 0.3s;
}

.item {
  display: grid;
  grid-template-rows: auto 200px; /* MODIFIER ICI */
  gap: 2.5em;
}

.award-grid {
  margin: 0.5em 0;
  display: grid;
  grid-template-columns: 6fr 2fr 1fr ;
  gap: 30px;
}

.award-description {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  display: grid;
  grid-template-columns: 6fr 2fr 1fr ;
  font-size: 1em;
  font-weight: 550;
  color: rgba(0,0,0, 0.4);
  gap: 30px;
}

.line {
  border: 0.5px solid rgba(0,0,0, 0.3);
}
.line-seperator {
  border: 0.5px solid black;
}
.big-space {
  height: 100px;
}
.small-space {
  height: 20px;
}



.annee-right {
  justify-self: end; 
}

.award-description{
  color: rgba(0,0,0, 0.4);
}

.projet-button {
  display: block;
  color: rgba(0,0,0, 0.52);
  text-decoration: none;
}

.projet-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.projet-button,
.projet-button:visited {
  display: block;
  color: rgba(0,0,0, 0.52);
  text-decoration: none;
}

.annee {
  justify-self: end;
  display: block;
  color: rgba(0,0,0, 0.52);
}

.centered {
  justify-self: center;
}

h2 {
  color: rgba(0,0,0, 0.85);
  margin-top: 0.3em;
  font-weight: 450;
  font-size: 2.8em;
  line-height: 0.85em;
  transition: 0.3s;
}

@media (max-width: 890px) {
  h2 {
    font-size: 2.25em;
    transition: 0.3s;
  }
}

p {
  max-width:700px;
}

@media (max-width: 630px) {

  .container {
    margin: 0px 20px;
    transition: 0.3s;
  }
  .award-grid,
  .award-description {
    grid-template-columns: 6fr 2fr; /* remove the year column */
  }
  img {
    border-radius: 14px;
    transition: 0.3s;
  }

  .annee {
    display: none; /* hide the year */
  }
  .annee-right {
    display: none;
  }
  .projet-right {
    justify-self: end;
  }
  .projet-button {
    justify-self: end;
  }
}