.carrousel {
  position: fixed; /*ADDED*/
  bottom: 0; /*ADDED*/
  margin: 0;
  width: 100%;
  /*border: 1px solid red;*/
  display: flex;
  overflow-x: auto;
  overflow: hidden;
}
.carrousel::-webkit-scrollbar {
  display: none;
}
.group {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1em;
  animation: spin 40s infinite linear;
  padding-right: 1em;
}
.card {
  flex: 0 0 5.5em;
  height: 8.25em;
  font-size: 3rem;
  border-radius: none;
  text-align: center;
  align-content: end;
}
@keyframes spin {
  from {translate: 0;}
  to {translate: -100%}
}

.card img {
  display: block;
  width: 100%;
  height: auto;
}