.footer-container {
  padding-top: 150px;
  padding-bottom: 30px;
  height: auto;
  margin: 0px 10%;
  transition: 0.3s;
}
.footer-logo img {
  width: 100%;
}

.footer-info {
  font-size: inherit;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  transition: 0.3s;
}

.footer-info p {
  display: block;
}
.footer-city {
  display: block;
}

@media (max-width: 767px) {
  .footer-container {
    margin: 0px 20px;
    transition: 0.3s;
  }
  .footer-info {
    font-size: 0.93em;
    transition: 0.3s;
  }
}
@media (max-width: 425px) {
  .footer-info {
    font-size: 13px;
    transition: 0.3s;
  }
}
@media (max-width: 355px) {
  .footer-info {
    font-size: 11px;
    transition: 0.3s;
  }
}

